@model AddArtistsInEventsFormModel;

<div class="row g-3">
  <div class="col">
    <input type="text" asp-for="ArtistName" class="form-control" placeholder="Artist name">
  </div>



  <div class="col">
      <button type="button" class="btn btn-danger" onclick="remove()" id="btnRemove">-</button>
  </div>


</div>

@section Scripts {
 @*   <script>
    
    // function remove(ev){
    //     alert("sgsge");
    //    $(ev.target).parent().parent().remove();
    //}
    //</script>*@
   
}