@model EventAddFormModel;
@{
    ViewData["Title"] = "Add Event";
}

<div class="container">
     <div class="row">
         <div class=" offset-md-2 col-md-8 col-sm-12">
             <h2 class ="heading-margin text-center">Add Event</h2>
             <form  method="post" class="row g-3">
              <div class="col-md-6">
                <label asp-for="EventName" class="form-label">Event Name</label>
                <input asp-for="EventName" class="form-control" placeholder="Enter name here">
              </div>
              
              <div class="col-md-6">
                <label asp-for="Venue" class="form-label">Venue</label>
                <input asp-for="Venue" class="form-control" placeholder="Enter venue here">
              </div>
              
              <div class="col-md-6">
                <label asp-for="ImgURL" class="form-label">Image URL</label>
                <input asp-for="ImgURL" class="form-control" placeholder="Enter image URL here">
              </div>
            
              <div class="col-md-6">
                <label asp-for="Description" class="form-label">Event Name</label>
                <textarea asp-for="Description" class="form-control" rows="5" placeholder="Enter name here"></textarea>
              </div>

              <div class="col-md-4">
                <label asp-for="Country" class="form-label">Country</label>
               <select asp-for="Country" class="form-control">
                   @foreach (var country in Model.Countries)
                   {
                       <option value="@country">@country</option>
                   }

               </select>
            </div>    
            
               @*<div class="col-md-4">
                <label asp-for="City" class="form-label">City</label>
               <select asp-for="City" class="form-control">
                   @foreach (var city in Model.Country.Cities)
                   {
                       <option>@city</option>
                   }

               </select>
              </div>*@


              <div class="col-md-6">
                <label asp-for="Time" class="form-label">Choose Date</label>
                <input asp-for="Time" class="form-control" value=@DateTime.Now>
              </div>

              <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
         </div>
                               
     </div>
 </div>
